#animation {
  animation: slide 2s;
}

@keyframes slide-up {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* #marketplace-home-btn {
  color: #ff9aff;
  border-color: #ff9aff;
  border-radius: 5px;
} */
